<h1>testing<h1>
<h1>Team</h1>
<%= @team.name%>
<h1>Team Motto: <%= @team.motto%></h1>

<h2>heros</h2>
    <% @heros.each_with_index do |hero, index| %>
        <ul>
            <h3>Hero #<%=index%><h3>
            <li><%= hero.name %></li>
            <li><%= hero.power %></li>
            <li><%= hero.bio %></li>
        </ul>
    <%end%>
